header.jumbotron {
  background: linear-gradient(rgba(82, 76, 174, 0.918), rgba(14, 45, 19, 0.755)), url(./images/fiber-optic-lights-1024x300.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

