header.jumbotron {
  background: linear-gradient(rgba(39, 111, 49, 0.45), rgba(39, 111, 49, 0.45));
  /* background-image: url(./images/fiber-optic-lights-1024x300.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
}

